name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Configure SSH Google Cloud
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/google.key
          chmod 600 ~/.ssh/google.key
          cat >>~/.ssh/config <<END
          Host google
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/google.key
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.GOOGLE_SSH_USER }}
          SSH_KEY: ${{ secrets.GOOGLE_SSH_KEY }}
          SSH_HOST: ${{ secrets.GOOGLE_SSH_HOST }}
          
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Set up Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          
      - name: Install dependencies
        run: npm install
      
      - name: Run the tests
        run: npm run test -- --coverage
        env:
          CI: true
          
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Stop the server
        run: ssh google 'sudo systemctl stop react-app'
